{% extends "layout.html" %}

{% load static %}

{% block title %}Set New Password | Wisdom Warehouse{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row g-0 justify-content-center my-2">
        <div class="col-lg-5 col-md-8 col-12 d-flex justify-content-center my-3">
        <div class="w-100" style="max-width: 450px">
            <div class="card shadow-sm border-0 rounded-4">
            <div class="card-body p-4 p-sm-5">
                <h2>Set New Password</h2>
                <form method="POST">
                {% csrf_token %}
                <!-- Show non-field errors -->
                {% if form.non_field_errors %}
                  <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                {% endif %}
                <div class="form-floating mb-3">
                    {{ form.new_password1 }}
                  <label for="{{ form.new_password1.id_for_label }}">New Password</label>
                    {% if form.new_password1.errors %}
                      <div class="text-danger small">
                        {{ form.new_password1.errors|striptags }}
                      </div>
                    {% endif %}
                </div>

                <div class="form-floating mb-3">
                    {{ form.new_password2 }}
                    <label for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
                    {% if form.new_password2.errors %}
                      <div class="text-danger small">
                        {{ form.new_password2.errors|striptags }}
                      </div>
                    {% endif %}
                </div>
                <div class="d-grid">
                <button type="submit" class="btn btn-primary btn-lg rounded-pill fw-semibold">Reset Password</button>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block footer%}fixed-bottom{% endblock %}

