{% extends "layout.html" %}

{% load static %}

{% block title %}Reset Password | Wisdom Warehouse{% endblock %}

{% block content %}
   <div class="container-fluid">
    <div class="row g-0 justify-content-center my-2">
      <div class="col-lg-5 col-md-8 col-12 d-flex justify-content-center my-3">
        <div class="w-100" style="max-width: 450px">
          <div class="card shadow-sm border-0 rounded-4">
            <div class="card-body p-4 p-sm-5">
              <h1 class="h3 fw-bold text-center mb-2">Reset Password</h1>
              <p class="text-secondary text-center mb-4">
                Enter your email to reset your password.
              </p>

              <form method="post">
                {% csrf_token %}
                <!-- Show non-field errors -->
                {% if form.non_field_errors %}
                  <div class="alert alert-danger">{{ form.non_field_errors }}</div>
                {% endif %}

                <!-- Email -->
                <div class="form-floating mb-3">
                  {{ form.email }}
                  <label for="{{ form.email.id_for_label }}">Email</label>
                    {% if form.email.errors %}
                      <div class="text-danger small">
                        {{ form.email.errors|striptags }}
                      </div>
                    {% endif %}
                </div>
                <div class="d-grid">
                  <button
                    class="btn btn-primary btn-hero btn-lg rounded-pill fw-semibold"
                    type="submit"
                  >
                    Reset Password
                  </button>
                </div>

                <p class="text-center text-secondary mt-4 mb-0">
                  Don't have an account?
                  <a
                    href='{% url "signup" %}'
                    class="text-decoration-none link-primary fw-semibold"
                    >Sign Up</a
                  >
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}fixed-bottom{% endblock %}